.red{
    background-color: red;
}

.black{
    background-color: black;
}


.red_button {
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
}

.red_button:hover {
    scale: 1.05;
}

.red_button:active {
    opacity: 0.5;
    outline: none;
    border: none;
}